<% provide(:title, 'Регистрация') %>
<h1 class="text-center">Регистрация</h1>

<div class="row-fluid">
  <div class="span2">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name, "Имя" %>
        <%= f.text_field :name %>

        <%= f.label :email, "Электронная почта" %>
        <%= f.text_field :email %>

        <%= f.label :password, "Пароль для входа" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Подтвердите пароль" %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :phone, "Номер телефона" %>
        <%= f.password_field :phone %>

        <%= f.submit "Зарегистрировать", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
